version: '3.9'

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    container_name: middleware-api
    restart: always
    volumes:
      - .:/app
    ports:
      - "4000:4000"
    environment:
      - NODE_ENV=production
      - REDIS_HOST=redis
    depends_on:
      - redis

  worker:
    build:
      context: .
      dockerfile: Dockerfile.worker
    container_name: middleware-worker
    restart: always
    volumes:
      - .:/app
    environment:
      - NODE_ENV=production
      - REDIS_HOST=redis
    depends_on:
      - redis

  redis:
    image: redis:6
    container_name: middleware-queue
    ports:
      - "6379:6379"
    restart: always
